@import url('https://fonts.googleapis.com/css2?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Raleway');

body
{
	color: #f0f0f0;
	background-color: #212121;
	font-family: "Roboto";
	font-size: 14px;
}

.sectionName
{
	border-bottom: 1px solid #f0f0f0;
	padding-top: 10px;
	padding-bottom: 10px;
}

.keys, .values
{
	float: left;
}

.keys
{
	width: 30%;
	padding-left: 10px;
	box-sizing: border-box;
}

.theForm
{
	border-top: 5px double #f0f0f0;
	margin: 0 auto;
	width: 720px;
	min-height: 480px;
}